
.jumbotron {
    text-align: center;
    margin-top: 50px;
}

.logo {
    width: 50%;
    height: auto;
}

.h1text {
    font-family: 'Poiret One', Arial, Helvetica, sans-serif;
}

#newburger {
    border-radius: 5px;
}

#color-override {
    color: rgb(255, 255, 255);
}

#lefthead {
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

#eatbutton, #trashbutton {
    float: right;
}

#righthead {
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 1.2em;
}